<div class="error-block">
  <div class="heading">ページが見つかりませんでした。</div>
  <div class="description">誠に申し訳ありませんが、アクセスしようとしたページが見つかりませんでした。<br>ご覧になっていたページからのリンクが無効になっている可能性があります。</div>
  <div class="cover">
    <%= link_to '>トップページに戻る', root_path, class: 'link' %>
    <%= link_to '>前のページに戻る', :back, class: 'link' %>
  </div>
</div>