<% provide(:title, "") %>

<div class="item-wrap">
  <div class="b-heading">誰推しBook</div>
  <div class="description">ここは著名人がお勧めしていた本を皆んなで紹介し合うサイトです。自分が好きな著名人の好きな本を共有していきましょう。<br>興味の湧く本が少しでも見つかると嬉しいです！</div>
  <div class="form-field">
    <%= link_to '#', class: 'm-button' do %>
      <div class="content">新規登録する</div>
    <% end %>
    <div class="link">
      <%= link_to 'ログインはこちら', '#', class: 'content' %>
    </div>
  </div>
</div>