<% if object.errors.any? %>
  <div class="error-block">
    <div class="alert">
      <%= object.errors.count %>個のエラーがあります。
    </div>
    <ul class="list">
      <% object.errors.full_messages.each do |msg| %>
        <li class="item"><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>