// チェックボックス
input,
button {
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  cursor:pointer;
}

// フラッシュアラート
.alert-block {
  width: 93%;
  padding: 25px 15px;
  margin: 0 auto 20px;
  font-size: 14px;
  border-radius: 10px;
}

.alert-block.-success {
  color:  #326273;
  background-color: #F5FFFF;
  border: 1px solid  #326273;
}

.alert-block.-danger {
  color: #ff2968;
  background-color: #ffeaf0;
  border: 1px solid #ff2968;
}

.alert-block.-info {
  color: #D8C111;
  background-color: #FFFEF7;
  border: 1px solid #D8C111;
}

// エラー
.error-block {
  margin-bottom: 40px;
}

.error-block > .alert {
  padding-bottom: 5px;
  font-size: 15px;
  color: #ff2968;
}

.error-block > .list {
  padding: 20px 30px;
  background-color: #ffeaf0;
  border: 1px solid #ff2968;
  border-radius: 10px;
}

.error-block > .list > .item {
  padding-bottom: 8px;
  font-size: 14px;
  color: #ff2968;
}

// ヘッダーメニュー
.header-inner > .empty {
  width: 40px;
}

.menu-footer > .remove.-black {
  color: #0a090c;
}

// チェックボックス
.checkbox-block {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.checkbox-block > .input {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border: 2px solid #f45b69;
  border-radius: 6px;
}

.checkbox-block > .input:checked {
  position: relative;
  background-color: #f45b69;
}

.checkbox-block > .input:checked::before {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 10px;
  height: 5px;
  content: '';
  border-bottom: 2px solid var(--palette-white);
  border-left: 2px solid var(--palette-white);
  transform: rotate(-45deg);
}

.checkbox-block > .description {
  font-size: 13px;
  color: rgba(0, 0, 0, .6);
}

// ボーダーリスト
.list-border > .item {
  display: flex!important;
  justify-content: space-between;
}

.list-border > .item > .link {
  min-width: 44px;
  color: #326273;
}

.list-border > .item > .link:nth-of-type(n+2) {
  margin-left: 15px;
}

// ページネーション
.pagination {
  flex-wrap: wrap;
}

.pagination * {
  margin: 4px!important;
  border: 1px solid #f45b69!important;
}

.pagination > .previous_page.disabled,
.pagination > .next_page.disabled {
  color: rgba(0, 0, 0, .3);
  border: 1px solid rgba(0, 0, 0, .3)!important;
}

// インプットフィールド
.input-field > .link {
  margin-left: 8px;
  font-size: 14px;
  color: #f45b69;
}

// 大きいボタン
.l-button {
  display: block;
  background-color: #f45b69!important;
  font-weight: 500!important;
}

.l-button.-on {
  color: #f45b69!important;
  background-color: #fff!important;
  border: 1px solid #f45b69!important
}

// 404エラー画面
.error-block {
  width: 93%;
  margin: 0 auto;
}

.error-block > .heading {
  padding: 30px 0 20px;
  font-size: 24px;
  font-weight: 700;
  color: #f45b69;
}

.error-block > .description {
  padding-bottom: 35px;
  font-size: 15px;
  line-height: 1.7;
}

.error-block > .cover {
  padding-bottom: 25px;
}

.error-block > .cover > .link {
  margin-right: 40px;
  font-size: 18px;
  color: #326273;
}

// ヘッダー
.menu-footer > .remove {
  display: block;
}